
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding-right: 15px;
  background-color: #f4f4f9;
}

.login-container h1 {
  text-align: center;
  margin-bottom: 20px;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 300px; 
  background: white;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.login-form input,
.login-form button {
  height: 45px; 
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0 10px;
}

.login-form input::placeholder {
  color: #aaa;
}

.login-form button {
  background-color: #0070f3;
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-form button:disabled {
  background-color: #aaa;
  cursor: not-allowed;
}

.login-form button:hover:enabled {
  background-color: #005bb5;
}
